.categories {
  .categories-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;

    .card {
      text-decoration: none;
      background-color: var(--background-secundary-color);
      border-radius: 16px;

      article {
        height: 150px;
        padding: 16px;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        div img {
          height: 60px;
          width: 60px;
          /* border: 1px solid red; */
        }

        h4 {
          font-size: 16px;
          color: var(--text-primary-color);
          /* border: 1px solid red; */
          text-align: center;
        }
      }
    }

    /* 📲 Tablet */
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);

      .card article {
        height: 170px;

        div img {
          height: 70px;
          width: 70px;
        }

        h4 {
          font-size: 18px;
        }
      }
    }

    /* 💻 Desktop */
    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);

      .card article {
        div img {
          height: 80px;
          width: 80px;
        }

        h4 {
          font-size: 28px;
        }
      }
    }
  }
}
