.destinations {
  padding: 24px;
  display: flex;
  flex-direction: column;

  .destination-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    position: relative;

    .item {
      margin-bottom: 40px;
      background-color: var(--background-secundary-color);
      border-radius: 16px;

      header {
        display: block;
        background: transparent;
        padding: 0;

        .img-item {
          height: 360px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border-radius: 16px;
        }

        h4 {
          margin: 24px 0 24px;
        }
      }

      p {
        margin-bottom: 24px;
        text-align: justify;
        hyphens: auto;
      }

      footer {
        .button {
          width: 312px;
          /* position: absolute;
          bottom: 0; */
        }
      }
    }

    .item:nth-child(1) {
      .img-item {
        background-image: url(../img/tablet-e-desktop/tokyo-tablet-desktop.png);
      }
    }

    .item:nth-child(2) {
      .img-item {
        background-image: url(../img/tablet-e-desktop/osaka-tablet-desktop.png);
      }
    }
  }
}
