header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 38px 48px;
  position: relative;

  .logo {
    display: inline-block;
    width: 68px;
    height: 64px;
  }
  
  input[type="checkbox"]:checked ~ nav {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;

    background-color: var(--background-tertiary-color);
  }

  nav {
    display: none;
  }
  
  .list-links {
    list-style: none;

    li {
      margin: 16px 0;
    }

    li a{
      color: var(--text-secudary-color);
      text-decoration: none;
    }

  }
}

@media screen and (min-width: 768px) {
  .navigation-menu {
    margin-top: 0;
    width: 467px;

    label {
      display: none;
    }

    nav {
      display: block;
    }

    .list-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 0;
    }
  }
}